.recipe-item:hover {
    background-color: #AAA;
    color: white;
}

.recipe-item.selected {
    background-color: #484 !important;
    color: white !important;
}

.text-recipe-time {
    color: #666;
}

.recipe-item.selected .text-recipe-time {
    color: #CCC !important;
}

.bg-selected {
    background-color: #484 !important;
    color: white !important;
}

.border-recipe-item {
    border: 1px dashed #484 !important;
}

.bg-unselected {
    background-color: #AAA !important;
    color: white !important;
}

.bg-unselected:hover {
    background-color: #CCC !important;
}

.w-fit {
    width: fit-content;
}

.mw-fit {
    max-width: fit-content;
}

.h-fit {
    height: fit-content;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.1s ease-out;
    -moz-transition: -moz-transform 0.1s ease-out;
    -ms-transition: -ms-transform 0.1s ease-out;
    -o-transition: -o-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
}

.cursor-pointer {
    cursor: pointer;
}

.a-href {
    text-decoration: underline;
    cursor: pointer;
}

.ssmall {
    font-size: 0.8em;
}

.hover-bg-opacity-50:hover {
    --bs-bg-opacity: 0.5;
}

.hover-bg-opacity-50 {
    transition: 0.05s linear all;
}

.fast-tooltip {
    position: relative;
}

.fast-tooltip:hover::after {
    z-index: 10000;
    position: absolute;
    display: block;
    content: attr(data-tooltip);
    top: 120%;
    left: 62%;
    width: max-content;
    background-color: #333;
    color: white;
    padding: .15em .4em;
}

.border-between {
    border-left: solid 1px;
}

.border-between:first-child {
    border-left: none;
}

fieldset,
legend {
    all: revert;
}

.result-table tr td {
    padding-left: 0.75em;
}

.result-table tr td:first-child {
    padding-left: 0;
}